@charset "UTF-8";
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
@keyframes reveal-divider {
  to {
    transform: scaleX(0.7);
  }
}
@keyframes reveal-content {
  to {
    opacity: 1;
  }
}
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
.story-card__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -0.5rem;
}
.story-card__group > * {
  flex: 0 1 42rem;
}
.story-card__group > * {
  margin: 0.5rem;
}

.story-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: orbitron, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}
.story-card__group {
  flex: 1 1 100%;
  align-items: stretch;
}
.story-card__fill {
  width: 100%;
}
.story-card picture {
  max-width: 30rem;
  margin: auto;
}
.story-card figure {
  display: flex;
  flex-direction: column;
}
.story-card figure > * + * {
  margin-top: 1rem;
}
.story-card figure > * {
  flex: 0 1 auto;
}
.story-card figcaption {
  flex: 1 1 auto;
  width: 100%;
}

.story-card--max-three > .story-card__group {
  max-width: 140rem;
  margin: -2rem;
}
.story-card--max-three > .story-card__group > * {
  margin: 2rem;
}
.story-card--max-three {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.story-card__image-link {
  position: relative;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.story-card__image-link:hover, .story-card__image-link:focus {
  border-color: currentColor;
}

.story-card nav {
  margin-top: 2rem;
}
.story-card__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.story-card__buttons > * {
  margin: 1rem;
}
.story-card__buttons > a {
  flex: 1 1 10rem;
}

@media all and (min-width: 60rem) {
  .story-card--carousel .story-card__group > * {
    flex: 0 1 42rem;
  }
  .story-card--carousel .story-card__thumbnails {
    display: none;
  }
  .story-card--carousel .story-card__nav {
    display: none;
  }
}
@media all and (max-width: 60rem) {
  .story-card--carousel .story-card__nav {
    position: absolute;
    z-index: 2;
  }
  .story-card--carousel .story-card__group {
    justify-content: flex-start;
  }
  .story-card--carousel .story-card__into {
    flex-wrap: nowrap;
    max-width: 100%;
    margin: 0;
  }
  .story-card--carousel .story-card__item {
    flex: 1 0 100%;
  }
  .story-card--carousel .story-card__thumbnails {
    display: none;
  }
  .story-card--carousel.story-card--max-four .story-card__nav {
    top: 41vw;
    bottom: auto;
    margin: 0;
  }
  .story-card--carousel.story-card--videos .story-card__nav {
    position: relative;
  }
}
.story-article {
  font-size: 3rem;
}
.story-article__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -2rem;
}
.story-article__group > * {
  margin: 2rem;
}
.story-article__copy {
  flex: 0 1 72rem;
}
.story-article__copy > * + * {
  margin-top: 2rem;
}
.story-article picture {
  max-width: 59.1rem;
}
.story-article__video {
  max-width: 84rem;
}
.story-article__standfirst {
  color: #297baa;
  font-size: 2.4rem;
  font-family: orbitron, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
.story-article__standfirst + h2 {
  margin-top: 0;
}
.story-article h2 {
  font-size: 6rem;
  line-height: 1.25;
  font-family: orbitron, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.button--first {
  border-color: #4c1c18;
  background: #4c1c18;
}
.button--first::before {
  background: #4c1c18;
}
.button--first:hover, .button--first:focus, .button--first.button--is-selected {
  color: #4c1c18;
}
.button--first.button--is-selected::after {
  opacity: 1;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.form__fieldset > * {
  margin: 1rem;
}
.form__fieldset > * {
  flex: 1 1 15rem;
}

.form--icon-field-combobox .form__contain {
  border: 1px solid #ccc;
  background: white;
  min-height: 3.75em;
}
.form--icon-field-combobox .form__input {
  text-align: center;
  flex: 2 1 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  outline: 0;
}
.form--icon-field-combobox .form__button {
  flex: 1 1 4em;
  justify-content: center;
  max-width: 4em;
  min-height: 4em;
  font-size: 0.9em;
  outline: 1px solid #ccc;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  height: 5rem;
  flex: 1;
  width: 100%;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

.card__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card__item {
  background: #f5f5f5;
  padding: 2rem;
}
.card__item > * + *, .card__copy > * + * {
  margin-top: 1rem;
}

@-webkit-keyframes card-is-selected {
  0% {
    max-height: 0;
    visibility: visible;
  }
  100% {
    max-height: 100vh;
    visibility: visible;
  }
}
@keyframes card-is-selected {
  0% {
    max-height: 0;
    visibility: visible;
  }
  100% {
    max-height: 100vh;
    visibility: visible;
  }
}
.expando__icon::before, .expando__icon::after {
  background: white;
}

.expando {
  display: flex;
  flex-wrap: wrap;
}
.expando__content {
  width: 100%;
  padding: 0;
}
@media all and (min-width: 320px) {
  .expando__content {
    transition: max-height 1s ease-in-out, visibility 0.1s linear 1.1s;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
  }
}
.expando__toggle {
  width: 100%;
}
@media all and (min-width: 320px) {
  .expando__copy {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}
@media all and (min-width: 320px) {
  .expando__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.5em;
    height: 0.5em;
  }
  .expando__icon::before, .expando__icon::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 80%;
    height: 0.05em;
  }
  .expando__icon, .expando__icon::before {
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
    transform: rotate(90deg);
  }
  .expando--is-selected .expando__icon, .expando--is-selected .expando__icon::before {
    transform: rotate(0);
  }
  .expando--is-selected ~ .expando__content {
    transition: max-height 1s ease-in-out, visibility 0.1s linear;
    max-height: 100vh;
    visibility: visible;
    overflow-y: auto;
  }
  .expando--is-selected ~ .expando__content .expando__copy {
    opacity: 1;
    transition-delay: 0.3s;
  }
}

.dropdown {
  margin-left: 0;
}
.dropdown__item {
  border: solid #ccc;
  border-width: 1px 0 0;
}
.dropdown__item:last-child {
  border-width: 1px 0;
}
.dropdown__title {
  display: flex;
  align-items: center;
}
.dropdown__icon {
  margin-left: auto;
  font-size: 2em;
  flex: 0 0 auto;
}
.dropdown__icon::before, .dropdown__icon::after {
  background: currentColor;
}
.dropdown__button {
  padding: 2rem 0;
  font: inherit;
}
.dropdown__copy {
  padding-bottom: 2rem;
}
.dropdown__copy ul {
  margin-left: 2.5rem;
  list-style: none;
}
.dropdown__copy ul > li {
  display: list-item;
  break-inside: avoid;
}
.dropdown__copy ul > li:not(:last-child) {
  margin-bottom: 1rem;
}
.dropdown__copy ul > li::before {
  display: inline-block;
  content: "•";
  margin-left: -1em;
  width: 1em;
}

.card--dropdown {
  font-size: 2.2rem;
  line-height: 1.5;
}
.card--dropdown .card__group {
  margin: -1rem;
}
.card--dropdown .card__group > * {
  margin: 1rem;
}
.card--dropdown .card__title {
  font: bold 2.4rem orbitron, sans-serif;
  text-transform: uppercase;
  padding: 3rem 2rem;
}
.card--dropdown .card__icon {
  flex-basis: 3.5rem;
}
.card--dropdown .card__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 50rem;
  padding: 0;
}
.card--dropdown .card__item > * {
  flex: 0 1 auto;
}
.card--dropdown .card__content {
  margin: 0;
}
.card--dropdown .card__copy {
  padding: 0 2rem 2rem;
}
.card--dropdown .card__copy > * + * {
  margin-top: 1rem;
}
.card--dropdown .card__copy small {
  display: block;
}

.card--faq .card__item {
  flex: 1 1 100%;
}
.card--faq .card__title {
  text-align: left;
}
.card--faq .card__copy > * + * {
  margin-top: 2rem;
}

.contain--video-gallery, .contain--photo-gallery {
  max-width: 90rem;
  background: whitesmoke;
}
.contain--video-gallery iframe {
  border: none;
}
.contain--photo-gallery::before {
  padding-bottom: calc(100% / (1.4827018122));
}

.card--carousel {
  margin: auto;
  max-width: 135rem;
}
.card--carousel .card__into {
  margin: -1rem;
}
.card--carousel .card__into > * {
  margin: 1rem;
}

.icon-caption__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -0.5rem;
}
.icon-caption__group > * {
  flex: 0 1 25rem;
}
.icon-caption__group > * {
  margin: 0.5rem;
}

.icon-caption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: orbitron, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}
.icon-caption__group {
  flex: 1 1 100%;
  align-items: stretch;
}
.icon-caption__fill {
  width: 100%;
}
.icon-caption picture {
  max-width: 15rem;
  margin: auto;
}
.icon-caption figure {
  display: flex;
  flex-direction: column;
}
.icon-caption figure > * + * {
  margin-top: 1rem;
}
.icon-caption figure > * {
  flex: 0 1 auto;
}
.icon-caption figcaption {
  flex: 1 1 auto;
  width: 100%;
}

.icon-caption > .icon-caption__group {
  max-width: 140rem;
  margin: -1rem;
}
.icon-caption > .icon-caption__group > * {
  margin: 1rem;
}
.icon-caption picture {
  background: transparent;
}

@media all and (min-width: 60rem) {
  .icon-caption--carousel .icon-caption__group > * {
    flex: 0 1 25rem;
  }
  .icon-caption--carousel .icon-caption__thumbnails {
    display: none;
  }
  .icon-caption--carousel .icon-caption__nav {
    display: none;
  }
}
@media all and (max-width: 60rem) {
  .icon-caption--carousel .icon-caption__nav {
    position: absolute;
    z-index: 2;
  }
  .icon-caption--carousel .icon-caption__group {
    justify-content: flex-start;
  }
  .icon-caption--carousel .icon-caption__into {
    flex-wrap: nowrap;
    max-width: 100%;
    margin: 0;
  }
  .icon-caption--carousel .icon-caption__item {
    flex: 1 0 100%;
  }
  .icon-caption--carousel .icon-caption__thumbnails {
    display: none;
  }
}

/*# sourceMappingURL=product-collection-page.css.map */
