/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
@keyframes reveal-divider {
  to {
    transform: scaleX(0.7);
  }
}
@keyframes reveal-content {
  to {
    opacity: 1;
  }
}
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
.story-card__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: -0.5rem;
}
.story-card__group > * {
  flex: 0 1 42rem;
}
.story-card__group > * {
  margin: 0.5rem;
}

.story-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-family: orbitron, sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
}
.story-card__group {
  flex: 1 1 100%;
  align-items: stretch;
}
.story-card__fill {
  width: 100%;
}
.story-card picture {
  max-width: 30rem;
  margin: auto;
}
.story-card figure {
  display: flex;
  flex-direction: column;
}
.story-card figure > * + * {
  margin-top: 1rem;
}
.story-card figure > * {
  flex: 0 1 auto;
}
.story-card figcaption {
  flex: 1 1 auto;
  width: 100%;
}

.story-card--max-three > .story-card__group {
  max-width: 140rem;
  margin: -2rem;
}
.story-card--max-three > .story-card__group > * {
  margin: 2rem;
}
.story-card--max-three {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.story-card--max-four > .story-card__group {
  max-width: 180rem;
  margin: -1rem;
}
.story-card--max-four > .story-card__group > * {
  margin: 1rem;
}
.story-card--max-four .story-card__caption {
  font-size: 2.6rem;
}
.story-card--max-four .story-card__price {
  color: #297baa;
}

.story-card nav {
  margin-top: 2rem;
}
.story-card__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.story-card__buttons > * {
  margin: 1rem;
}
.story-card__buttons > a {
  flex: 1 1 10rem;
}

.story-card__image-link {
  position: relative;
  border: 3px solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.story-card__image-link:hover, .story-card__image-link:focus {
  border-color: currentColor;
}

@media all and (min-width: 60rem) {
  .story-card--carousel .story-card__group > * {
    flex: 0 1 42rem;
  }
  .story-card--carousel .story-card__thumbnails {
    display: none;
  }
  .story-card--carousel .story-card__nav {
    display: none;
  }
}
@media all and (max-width: 60rem) {
  .story-card--carousel .story-card__nav {
    position: absolute;
    z-index: 2;
  }
  .story-card--carousel .story-card__group {
    justify-content: flex-start;
  }
  .story-card--carousel .story-card__into {
    flex-wrap: nowrap;
    max-width: 100%;
    margin: 0;
  }
  .story-card--carousel .story-card__item {
    flex: 1 0 100%;
  }
  .story-card--carousel .story-card__thumbnails {
    display: none;
  }
  .story-card--carousel.story-card--max-four .story-card__nav {
    top: 41vw;
    bottom: auto;
    margin: 0;
  }
  .story-card--carousel.story-card--videos .story-card__nav {
    position: relative;
  }
}
.button--first {
  border-color: #4c1c18;
  background: #4c1c18;
}
.button--first::before {
  background: #4c1c18;
}
.button--first:hover, .button--first:focus, .button--first.button--is-selected {
  color: #4c1c18;
}
.button--first.button--is-selected::after {
  opacity: 1;
}

.product {
  font: 2rem europa, sans-serif;
}
.product__group {
  display: flex;
  justify-content: flex-start;
  margin: -2rem;
}
.product__group > * {
  margin: 2rem;
}
.product__carousel {
  flex: 0 1 101rem;
}
.product__form {
  flex: 1 1 50rem;
}
.product__copy > * + * {
  margin-top: 1rem;
}
.product h2 {
  font-size: 3.4rem;
  font-weight: normal;
}
.product__price {
  font-size: 2.8rem;
  font-family: orbitron, sans-serif;
  color: #297baa;
  display: block;
}
.product__bold {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
}
.product__contain {
  max-width: 60rem;
}
.product__disclaimer {
  margin-top: 2rem;
}
.product__tables {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.product__tables > * {
  margin: 1rem;
}
.product input,
.product select {
  font-weight: bold;
  text-transform: uppercase;
}

.form__fieldset {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
.form__fieldset > * {
  margin: 1rem;
}
.form__fieldset > * {
  flex: 1 1 15rem;
}

.form--icon-field-combobox .form__contain {
  border: 1px solid #ccc;
  background: white;
  min-height: 3.75em;
}
.form--icon-field-combobox .form__input {
  text-align: center;
  flex: 2 1 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  outline: 0;
}
.form--icon-field-combobox .form__button {
  flex: 1 1 4em;
  justify-content: center;
  max-width: 4em;
  min-height: 4em;
  font-size: 0.9em;
  outline: 1px solid #ccc;
}

.form--select .form__contain {
  position: relative;
}
.form--select .form__field {
  height: 5rem;
  flex: 1;
  width: 100%;
}
@supports (height: auto) {
  .form--select .form__field {
    height: auto;
  }
}
.form--select .form__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6rem;
  min-height: 0;
  margin: 2px;
  pointer-events: none;
  justify-content: center;
  background: transparent;
  border: 0;
  outline: 0;
  background: white;
}
.form--select .form__button::before {
  content: "";
  height: 100%;
  width: 1px;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=search-results.css.map */
