/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
@keyframes reveal-divider {
  to {
    transform: scaleX(0.7);
  }
}
@keyframes reveal-content {
  to {
    opacity: 1;
  }
}
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
/**
* @prettier
*/
@font-face {
  font-family: orbitron;
  font-display: swap;
  font-weight: 900;
  src: url(/fonts/orbitron-black.woff2) format("woff2"), url(/fonts/orbitron-black.woff) format("woff");
}
@font-face {
  font-family: orbitron;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/orbitron-bold.woff2) format("woff2"), url(/fonts/orbitron-bold.woff) format("woff");
}
@font-face {
  font-family: orbitron;
  font-display: fallback;
  font-weight: 500;
  src: url(/fonts/orbitron-medium.woff2) format("woff2"), url(/fonts/orbitron-medium.woff) format("woff");
}
@font-face {
  font-family: orbitron;
  font-display: fallback;
  font-weight: 400;
  src: url(/fonts/orbitron-light.woff2) format("woff2"), url(/fonts/orbitron-light.woff) format("woff");
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.8%;
}
@media all and (min-width: 200rem) {
  html {
    font-size: 0.45vw;
  }
}
@media all and (max-width: 120rem) {
  html {
    font-size: 0.55vw;
    font-size: clamp(40%, 0.55vw, 62.8%);
  }
}
@media all and (max-width: 1200px) {
  html {
    font-size: 0.75vw;
    font-size: clamp(45%, 0.75vw, 62.8%);
  }
}

body {
  font: 16px/1.25 europa, sans-serif;
  color: #4c1c18;
  margin: 0;
}
@supports (display: flex) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
body > footer {
  flex: 1;
}

main {
  display: block;
}

a:focus,
button:focus,
label:focus {
  outline: 2px solid #4c1c18;
}

:link,
:visited {
  text-decoration: underline;
  color: inherit;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: orbitron, sans-serif;
  word-break: break-word;
}

h2 {
  font-size: 4.5rem;
}
@media all and (max-width: 1200px) {
  h2 {
    font-size: clamp(1.5rem, 4.8vw, 3rem);
  }
}

h3 {
  font-size: 2.8rem;
}

ul,
ol {
  margin-left: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

img,
iframe,
picture,
figure {
  display: block;
}

figure {
  margin: 0;
}

small {
  font-size: 80%;
}

sup,
sub {
  font-size: 50%;
  line-height: 0;
  position: relative;
  margin: 0 0.25em;
}

sub {
  bottom: -0.33em;
}

::selection {
  background: #4c1c18;
  color: white;
}

button,
input,
select {
  background: none;
  appearance: none;
  border: 0;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  word-break: break-word;
}

button,
select {
  cursor: pointer;
}

.view {
  position: relative;
}
.view__anchor {
  top: -12.6rem;
}
@supports (position: sticky) {
  .view__anchor {
    position: absolute;
  }
}
.view__scroll {
  position: sticky;
  top: 12.6rem;
}
.view__in {
  position: relative;
}

.section {
  margin: 0;
}
.section__contain {
  max-width: 200rem;
  margin: auto;
  box-sizing: content-box;
}
.section__in {
  max-width: 200rem;
  margin: auto;
  box-sizing: content-box;
  padding: 2rem;
}
.section__block {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes rotate-cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-cycle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes svg-cross {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.defer::after {
  display: block;
  padding: 12%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  will-change: transform;
  contain: strict;
  -webkit-animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation: fade-in 0.1s ease-in forwards, rotate-cycle 0.7s cubic-bezier(0.5, 0.4, 0.5, 0.6) 60 forwards, fade-out 0.1s ease-in 38.1818181818s forwards;
  animation-play-state: paused;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E        %3Cpath stroke='hsla(0, 2.2624434389%25, 43.3333333333%25, 1)' d='M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50' fill='hsla(0, 2.2624434389%25, 43.3333333333%25, 1)'%3E%3C/path%3E    %3C/svg%3E") no-repeat center center;
  width: 50%;
  height: 50%;
  background-size: 50%;
  max-width: 3em;
  max-height: 3em;
}

.defer::after {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
.defer--success::after {
  display: none;
}
.defer__progress {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in-out, visibility 1ms linear 300ms;
  transition: opacity 250ms ease-in-out, visibility 1ms linear 300ms;
}
.defer__success {
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}
.defer--failure::after {
  display: block;
  padding: 2%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  opacity: 0;
  -webkit-animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation: svg-cross 0.3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  background: url("data:image/svg+xml;charset=utf8,    %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 612 612' preserveAspectRatio='xMidYMid'%3E        %3Cpolygon stroke='none' points='612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011' fill='hsla(0, 0%25, 14.5098039216%25, 1)'/%3E    %3C/svg%3E") no-repeat center center;
  background-size: 50%;
  width: 50%;
  height: 50%;
  max-width: 2em;
  max-height: 2em;
}

.defer {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.defer::before, .defer::after {
  content: "";
}
.defer::before {
  display: block;
}
.defer::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}
.defer > img, .defer > iframe, .defer > noscript {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.defer--from-top {
  overflow: initial;
}
.defer--from-top::after {
  bottom: auto;
}

.bg__picture {
  background: whitesmoke;
}
.bg .bg__ignore-picture {
  background: transparent;
}

.contain {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
}
.contain::before, .contain::after {
  content: "";
}
.contain::before {
  display: block;
}
.contain::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: -1;
}
.contain > img, .contain > iframe, .contain > noscript {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.form {
  min-width: 0;
}
.form__title {
  font-size: 2.8rem;
}
.form__title + fieldset {
  margin-top: 1rem;
}
.form__is-hidden {
  display: none;
}
.form__contain {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  border: solid transparent;
  border-width: 3px;
  min-width: 0;
  min-inline-size: 0;
}
.form__contain > * {
  flex: 0 1 auto;
}
.form__field {
  flex: 1;
  display: inline-flex;
  align-items: center;
  min-width: 0;
  padding: 1rem;
  margin: 0;
  appearance: none;
  border: 0;
  background: transparent;
  color: black;
  font-family: inherit;
}
.form__error {
  color: #ff0000;
  font-weight: bold;
}

.contain--cf {
  flex: 0 1 22.8rem;
}
.contain--cf::before {
  padding-bottom: calc(100% / (3.1666666667));
}
.contain--ll {
  flex: 0 1 22.5rem;
}
.contain--ll::before {
  padding-bottom: calc(100% / (8.0357142857));
}
.contain--icon-search {
  flex: 0 1 2.5em;
}
.contain--icon-search::before {
  padding-bottom: calc(100% / (1));
}
.contain--icon-person {
  flex: 0 1 2em;
}
.contain--icon-person::before {
  padding-bottom: calc(100% / (0.8333333333));
}
.contain--icon-bag {
  flex: 0 1 2em;
}
.contain--icon-bag::before {
  padding-bottom: calc(100% / (0.8333333333));
}
.contain--nav-thumbnail {
  max-width: 50px;
}
.contain--nav-thumbnail::before {
  padding-bottom: calc(100% / (1));
}

@-webkit-keyframes is-hidden {
  0% {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
  }
  99% {
    transform: translateX(0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes is-hidden {
  0% {
    visibility: visible;
    transform: translate(0);
    opacity: 1;
  }
  99% {
    transform: translateX(0);
    opacity: 0;
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes is-visible {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes is-visible {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes toggle-visibility {
  from {
    visibility: visible;
    pointer-events: none;
  }
  to {
    visibility: hidden;
    pointer-events: none;
  }
}
@keyframes toggle-visibility {
  from {
    visibility: visible;
    pointer-events: none;
  }
  to {
    visibility: hidden;
    pointer-events: none;
  }
}
.nav {
  z-index: 6;
  font-size: 1.8rem;
  top: 0;
}
.nav__pane, .nav__underlay {
  top: 0;
  bottom: 0;
}
.nav, .nav__pane, .nav__underlay, .nav__drop__group {
  left: 0;
  right: 0;
}
.nav__title {
  align-self: center;
  padding: 0 1em;
}
.nav__pane {
  border-color: #666666;
  background: white;
}
.nav__pane, .nav__underlay {
  height: auto;
}
.nav__underlay {
  will-change: opacity;
  content: "";
  pointer-events: none;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1);
  background: rgba(255, 255, 255, 0.8);
}
.nav__underlay, .nav__toggle, .nav__drop__group {
  opacity: 0;
}
.nav__underlay, .nav__drop__group {
  box-sizing: border-box;
  width: 100%;
}
.nav__title, .nav__group, .nav__menu, .nav__menu--scroll {
  display: flex;
}
.nav__pane, .nav__menu--scroll {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.nav__menu--scroll::-webkit-scrollbar {
  display: none;
  width: 0.25em;
  height: 0.25em;
  background: #d6d6d6;
}
.nav__menu--scroll:hover::-webkit-scrollbar {
  display: block;
}
.nav__menu--scroll::-webkit-scrollbar-thumb {
  background: black;
}
.nav__menu--stack .nav__list {
  flex-wrap: wrap;
}
.nav__menu--stack .nav__list > a {
  flex: 1 1 100%;
  justify-content: flex-start;
}
.nav__group {
  flex-wrap: nowrap;
}
.nav__title, .nav__group, .nav__menu {
  justify-content: space-between;
}
.nav__list {
  flex: 1 1 auto;
  align-items: center;
}
.nav__drop__group {
  background: #e6e6e6;
  color: currentColor;
  -webkit-animation: toggle-visibility 0.3s step-end forwards;
  animation: toggle-visibility 0.3s step-end forwards;
  position: absolute;
  z-index: 100;
  max-height: 100vh;
  overflow: auto;
}
.nav__drop__toggle, .nav__drop {
  width: 100%;
  position: relative;
}
.nav__drop__toggle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: inherit;
  font: inherit;
  border: inherit;
  background: inherit;
  color: inherit;
  z-index: 2;
}
.nav__drop__toggle:focus, .nav__drop__toggle:hover {
  text-decoration: underline;
}
.nav__drop__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e6e6e6;
  opacity: 0;
  transform: translateY(100%);
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.nav__drop__toggle > span {
  position: relative;
}
.nav__drop__toggle[aria-expanded=true], .nav__drop__toggle:hover, .nav__drop__toggle:focus {
  color: currentColor;
}
.nav__drop__toggle[aria-expanded=true]::before, .nav__drop__toggle:hover::before, .nav__drop__toggle:focus::before {
  opacity: 1;
  transform: translateY(0);
}
.nav__drop:focus-within > .nav__drop__toggle {
  color: currentColor;
}
.nav__drop:focus-within > .nav__drop__toggle::before {
  opacity: 1;
  transform: translateY(0);
}
.nav__toggle {
  position: absolute;
}
.nav__label {
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  border-color: black;
  position: relative;
  z-index: 3;
  margin-left: auto;
  transform: scale(0.75);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  will-change: transform;
  overflow: hidden;
}
.nav__label::before, .nav__label::after, .nav__label span {
  display: block;
}
.nav__label::before, .nav__label::after, .nav__label span {
  content: "";
  border: 0.075em solid;
  border-color: inherit;
  -webkit-transform-origin: left;
  transform-origin: left;
}
.nav__label::before, .nav__label::after {
  transition: transform 0.3s cubic-bezier(0, 0, 0.31, 1);
}
.nav__drop__group, .nav__label span {
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.31, 1);
  transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), transform 0.3s cubic-bezier(0, 0, 0.31, 1);
}
.nav__label::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav__label::after {
  -webkit-transform: scaleX(0.6);
  transform: scaleX(0.6);
}
.nav__label span {
  margin: 0.45em 0;
  -webkit-transform: scaleX(0.85);
  transform: scaleX(0.85);
}
.nav__toggle:checked ~ .nav__label::before, .nav__toggle:checked ~ .nav__label::after, .nav__label--is-selected::before, .nav__label--is-selected::after {
  transform-origin: center;
}
.nav__toggle:checked ~ .nav__label::before, .nav__label--is-selected::before {
  transform: scaleX(1) rotateZ(45deg) translate(0.4em, 0.4em);
}
.nav__toggle:checked ~ .nav__label::after, .nav__label--is-selected::after {
  transform: scaleX(1) rotateZ(-45deg) translate(0.4em, -0.4em);
}
.nav__toggle:checked ~ .nav__label span, .nav__label--is-selected span {
  transform: translateX(100%);
  opacity: 0;
}
.nav__toggle:checked ~ .nav__pane, .nav [aria-expanded=true] ~ .nav__drop__group {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav__drop__toggle[aria-expanded=true]:focus-within ~ .nav__drop__group {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: translate(0);
  transform: translate(0);
}
.nav__toggle:checked ~ .nav__pane, .nav__toggle:checked ~ .nav__underlay, .nav [aria-expanded=true] ~ .nav__drop__group, .nav__drop__toggle[aria-expanded=true]::before {
  opacity: 1;
}
.nav__drop__toggle[aria-expanded=true]:focus-within ~ .nav__drop__group {
  opacity: 1;
}
.nav__toggle:checked ~ .nav__underlay {
  pointer-events: auto;
}
.nav a {
  text-decoration: none;
}
.nav a:focus, .nav a:hover {
  text-decoration: underline;
}

.nav {
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.35);
  font-size: 1rem;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  margin: 0;
  transition: transform 0.15s ease-in-out;
  font: 1.2rem/1 orbitron, sans-serif;
}
.nav--is-hidden {
  transform: translateY(-100%);
}
.nav__in {
  align-items: center;
}
.nav__label::before, .nav__label::after,
.nav__label > span {
  border-width: 0.1rem;
}
.nav__pane {
  flex: 1 1 auto;
  position: relative;
  color: currentColor;
}
.nav__pane::before, .nav__pane::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.3s ease-in-out;
}
.nav__pane::before {
  background: white;
}
.nav__underlay {
  position: fixed;
  z-index: 4;
  background: rgba(255, 255, 255, 0.95);
}
.nav__toggle:checked ~ label {
  z-index: 5;
}
.nav__group {
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.nav__list, .nav__title {
  flex: 1 1 100%;
}
.nav__header {
  flex: 1 1 100%;
  padding: 2rem 0;
}
.nav__title {
  margin: auto;
  align-items: center;
}
.nav__list {
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.nav__list > .nav__logo {
  padding: 0;
}
.nav .nav__logo {
  flex: 0 1 50rem;
}
@media all and (max-width: 700px) {
  .nav .nav__logo {
    flex-basis: 30rem;
  }
}
.nav .logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.nav__banner {
  flex: 1 1 100%;
  font: 1.3rem/1 europa, sans-serif;
  letter-spacing: 1.5px;
}
.nav__menu .nav__list > a {
  display: flex;
  align-items: center;
}
.nav__picture {
  max-width: 50px;
}
.nav__drop__link {
  margin: -0.5rem;
  margin: 0;
}
.nav__drop__link > * {
  margin: 0.5rem;
}
.nav__drop__link > span {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

@media all and (max-width: 1199px) {
  .nav__pane, .nav__underlay {
    position: fixed;
  }
  .nav__pane {
    width: 75vw;
    z-index: 3;
    box-shadow: 0 0 0.3em rgba(0, 0, 0, 0.3);
    will-change: opacity, transform;
    opacity: 0;
    overflow-y: auto;
    -webkit-animation: toggle-visibility 0.3s step-end forwards;
    animation: toggle-visibility 0.3s step-end forwards;
    -webkit-transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), -webkit-transform 0.3s cubic-bezier(0, 0, 0.31, 1);
    transition: opacity 0.3s cubic-bezier(0, 0, 0.31, 1), transform 0.3s cubic-bezier(0, 0, 0.31, 1);
  }
  .nav__pane, .nav__drop__group {
    -webkit-transform: translateX(-103%);
    transform: translateX(-103%);
  }
  .nav__group, .nav__menu--scroll {
    flex-wrap: wrap;
  }
  .nav__title, .nav__group, .nav__menu, .nav__menu--scroll, .nav__list, .nav__drop__toggle {
    width: 100%;
    flex: 1 1 100%;
  }
  .nav__list {
    border-top: 0.03em solid currentColor;
  }
  .nav__list > a, .nav__drop > .nav__drop__toggle, .nav__drop {
    flex: 1 1 100%;
    text-align: left;
    justify-content: flex-start;
  }
}
@media all and (min-width: 1200px) {
  .nav, .nav__list > a {
    text-align: center;
  }
  .nav__label, .nav__underlay {
    display: none;
  }
  .nav__toggle {
    visibility: hidden;
  }
  .nav__menu--scroll {
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: flex-start;
    align-items: center;
  }
  .nav__menu {
    flex-wrap: nowrap;
  }
  .nav__menu, .nav__group {
    flex: 1 1;
  }
  .nav__drop:hover > .nav__drop__group, .nav__drop__toggle[aria-expanded=true] + .nav__drop__group {
    -webkit-animation: none;
    animation: none;
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    pointer-events: all;
  }
  .nav__drop__group {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
    pointer-events: none;
  }
  .nav__menu--scroll {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .nav__drop__toggle {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
  }
  .nav__list > a, .nav__drop {
    flex: 1 0 auto;
    justify-content: center;
  }
}
.nav__drop {
  position: relative;
  z-index: 1;
}
.nav__drop__group {
  position: absolute;
  overflow: visible;
  z-index: 2;
}
@media all and (max-width: 1200px) {
  .nav__drop__group {
    max-height: none;
  }
}
.nav__drop:hover, .nav__drop:focus, .nav__drop--is-selected {
  z-index: 2;
}
.nav__drop:focus-within {
  z-index: 2;
}
.nav__drop:hover:not(:focus-within) {
  z-index: 3;
}
.nav__drop--tier-first .nav__drop__toggle::before, .nav__drop--tier-first .nav__drop__group {
  background: whitesmoke;
}
@media all and (min-width: 1200px) {
  .nav__drop--tier-first {
    max-width: 15rem;
  }
  .nav__drop--tier-first .nav__drop {
    text-align: center;
  }
}
.nav__drop--tier-second .nav__drop__toggle {
  flex: 1 1 100%;
}
.nav__drop--tier-second .nav__drop__toggle::before, .nav__drop--tier-second .nav__drop__group {
  background: white;
}
@media all and (min-width: 1200px) {
  .nav__drop--tier-second .nav__drop__group {
    left: 100%;
    top: 0;
  }
}
.nav__drop__group {
  box-shadow: -5px 7px 6px rgba(0, 0, 0, 0.25);
}

@media all and (min-width: 1200px) {
  .nav {
    margin: 0;
  }
  .nav__in > .nav__logo {
    display: none;
  }
  .nav__list > .nav__logo {
    border-right: 1px solid;
  }
  .nav__tier-first > .nav__link {
    border-right: 1px solid;
    flex: 1 1 22rem;
    justify-content: center;
  }
  .nav__list .nav__link--for-drawer {
    display: none;
  }
  .nav__pane {
    border-bottom: 0.15rem solid white;
  }
  .nav__pane::after {
    background: white;
  }
  .nav__pane a:focus {
    outline-color: currentColor;
  }
  .nav--is-primed .nav__logo, .nav--is-primed .nav__deal {
    -webkit-animation: is-hidden 0.3s ease-in-out forwards;
    animation: is-hidden 0.3s ease-in-out forwards;
  }
  .nav--is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
  }
  @supports (position: sticky) {
    .nav--is-fixed {
      position: sticky;
    }
  }
  .nav--is-fixed a:focus {
    outline-color: currentColor;
  }
  .nav--is-fixed .nav__list {
    opacity: 1;
    transform: translateX(0);
  }
  .nav--is-fixed .nav__pane::after {
    opacity: 0;
  }
  .nav--is-fixed .nav__link--order {
    display: none;
  }
  .nav--is-fixed .nav__logo, .nav--is-fixed .nav__deal {
    -webkit-animation: is-visible 0.3s ease-in-out forwards;
    animation: is-visible 0.3s ease-in-out forwards;
  }
  .nav__link {
    text-align: center;
  }
}
@media all and (max-width: 1199px) {
  .nav {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
  }
  .nav__in {
    flex-wrap: nowrap;
  }
  .nav__list {
    flex-wrap: wrap;
  }
  .nav--is-fixed {
    position: sticky;
  }
  .nav > .nav__logo {
    flex-basis: 15em;
  }
  .nav__label {
    width: auto;
    font-size: 1.5em;
    flex: 0 0 2.5em;
    border-color: currentColor;
  }
  .nav__group > .nav__label {
    margin: 0 1rem;
    order: 1;
  }
  .nav__group > .nav__profile {
    margin-left: auto;
  }
  .nav__toggle:checked ~ .nav__label {
    border-color: currentColor;
  }
  .nav__pane {
    background: white;
    z-index: 4;
  }
  .nav__pane .nav__logo {
    margin: 1rem;
  }
  .nav__pane .nav__title {
    padding: 1rem;
  }
  .nav .nav__link {
    order: 1;
  }
  .nav__title {
    text-align: left;
    display: block;
    font-size: 1.75em;
  }
  .nav__list {
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
  }
}
.nav__profile {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 16em;
  justify-content: space-around;
}
.nav__profile > * {
  flex: 0 0 4em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media all and (max-width: 600px) {
  .nav__profile {
    font-size: 1rem;
  }
}
.nav__profile .nav__label {
  display: inline-flex;
}

.nav__standalone {
  margin: auto;
}

@media all and (min-width: 1200px) {
  .nav__drop--grid > .nav__group {
    min-width: 80rem;
  }
  .nav__drop--grid .nav__list > a {
    flex-basis: 27rem;
  }
}
@media all and (min-width: 1200px) {
  .nav__drop--stack > .nav__group {
    min-width: 40rem;
  }
  .nav__drop--stack .nav__drop__link {
    padding-left: 1.5rem;
  }
}
@media all and (max-width: 1200px) {
  .nav__drop--stack .nav__drop__link {
    padding-left: 1rem;
  }
}
.toggle-icons {
  position: relative;
}
.toggle-icons__overlay, .toggle-icons__underlay {
  transition: transform 0.3s ease-in-out;
}
.toggle-icons__underlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0);
}

.nav__toggle:checked ~ .toggle-icons .toggle-icons__overlay {
  transform: scale(0);
}
.nav__toggle:checked ~ .toggle-icons .toggle-icons__underlay {
  transform: scale(0.75);
}

.form--search .form__contain {
  flex: 1;
  justify-content: center;
}
.form--search .form__contain > * {
  display: flex;
  margin: 1rem;
}
.form--search .form__contain button {
  justify-content: center;
}

.form--underline .form__contain {
  border-bottom-color: currentColor;
}

.form__field-icon input {
  border-bottom: 3px solid currentColor;
}
.form__field-icon button {
  flex: 0 0 50px;
}

.nav__form {
  margin: 1rem;
  max-width: 600px;
  flex: 1 1 100%;
}

.circular {
  position: relative;
  cursor: pointer;
}
.circular::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2em;
  height: 2em;
  background: whitesmoke;
  border-radius: 100%;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(1);
  opacity: 0;
}
.circular:hover::before, .circular:focus::before {
  transform: scale(2);
  opacity: 1;
}

.banner {
  padding: 1rem;
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=shell.css.map */
